doctype html
html
  head
    meta(charset='utf-8')
  body
    .output
    | 	Mã sinh viên: 
    input.msv(type='text')
    br
    button.submit Xem thông tin
    script.
      document.querySelector("button.submit").onclick = function() {
      fetch("/students/" + document.querySelector("input.msv").value)
      .then(resp => {
      if (resp.status == 200) {
      resp.json()
      .then(ret => {
      if (ret.status == "OK")
      document.querySelector("div.output").innerHTML = JSON.stringify(ret.data);
      });
      }
      });
      };